div{

}
body{
  margin: 0px;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}
hr{
  border-top: dotted #EAF6F6 6PX;
  border-bottom:none;
  width:4%;
  margin: 100px auto;
}
h1
{
  color:  #66BFBF;
  font-size: 5.6em;
  margin:50px auto 0 auto;
  font-family: 'Sacramento', cursive;

  line-height: 2;
}
.prom{
  font-size: 2.5rem;
}
h2{
  color:  #66BFBF;
  pa
  margin: 0px;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}
h3{
  color:  #11999E;
  font-family:'Montserrat', sans-serif;
}
a{
  color:  #11999E;
  font-family: 'Montserrat',sans-serif;
  margin: 10px 20px;
  text-decoration:none;
}
a:hover{
  color: #EAF6F6;
}
.photo{
  width:25%;
  float: left;
  margin-right: 30px;

}
.chillies{
  width:25%;
  float: right;
  margin-left: 30px;
  background-color: white;
}
.design{

  margin-right:30px;
}
.btn {
  background: #11edd4;
  background-image: -webkit-linear-gradient(top, #11edd4, #11999e);
  background-image: -moz-linear-gradient(top, #11edd4, #11999e);
  background-image: -ms-linear-gradient(top, #11edd4, #11999e);
  background-image: -o-linear-gradient(top, #11edd4, #11999e);
  background-image: linear-gradient(to bottom, #11edd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.skill-row{

  margin:100px auto 100px auto;

  width: 50%;
  text-align: left;
  line-height: 2;

}


.contact-me{
  width: 50%;
  margin: auto;
}

.top-container{
    background-color: #E4F9F5;
  position:relative;
  padding-top:100px;


}
.middle-container{
  text-align: center;
left-width:50%;
margin-bottom: 60PX;


}
.bottom-container{

  background-color: #66BFBF;
  padding: 50px 0 20px;

}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.pro{
  text-decoration:underline;
}
.bottom-cloud{
  position: absolute;
  left:300px;
  bottom: 300px;

}
.top-cloud{
  position: absolute;
  right:300px;
  top:50px;
}
.contact-message{
  margin:40px auto 60px auto;

}
